*{
	margin: 0;
	padding: 0;
	border: none;
}


body{
	background-color: #ffffff;
}

#contenedor{
	width: 960px;
	margin: 0 auto;
	color: #505050;
	position: relative;
	}

/*ENCABEZADO*/
#encabezado{
	background-color: #191919;
	padding: 10px 40px;
	overflow: hidden;
}
	#logo{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 30px;
	}
	#signup{
		padding-top: 10px;
		padding-top: 10px;
		color: #505050;
		font-style: italic;
		margin-left: 220px;
	}
	span{
		color: #8c8c8c;
		font-style: italic;
	}
	button{
		margin-left: 25px;
		background-color: #373737;
		color: #179ed5;
		font-size: small;
		font-family: sans-serif;
		padding: 8px 30px;
		border-radius: 3px;
		font-weight: bold;
	}


/*MENU*/

#menu{
	background-color: #299bcf;
	overflow: hidden;
	padding: 20px 40px;
}
	ul{
		list-style-type: none;
	}
	a{
		color: #ffffff;
		font-family: sans-serif;
		text-decoration: none;
		font-weight: bold;
		font-size: small;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: 10px;
	}
	a:hover{
		background-color: #2182ac;
		border-radius: 10px;
		padding: 3px 18px;
	}
	a:active{
		color: #2182ac;
	}

/*IMAGEN Y TEXTO CENTRAL*/

#middle{
	background-color: #27c0f6;
	overflow: hidden;
}
	#imcen{
		width: 460px;
		height:260px;
		padding-left: 50px;
		padding-top: 40px;
		vertical-align: text-top;
		}
	h1{
		width: 350px;
		color: #113848;
		border-bottom-style: ridge;
		border-width: thin;
		border-color: #2E92B0;
		padding-left: 20px;
		padding-top: 70px;
	}
	#maintext{
		padding-left: 20px;
		padding-top: 30px;
		text-align: justify;
		width: 350px;
		color: #113848;
	}

/*TRES BLOQUES*/

#tres{
	overflow: hidden;
	background-color: #efefef;
	color: #505050;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	border-bottom-style: ridge;
	border-width: thin;
	border-color: #B1B1B1;
}

	h2{
		width: 150px;
		float: none;
		}
	p{
		padding-top: 10px;
	}
	h4{
		color: #2ebef5;
		float: right;
		font-family: sans-serif;
		font-size: small;
		padding-top: 10px;
		}
#final{
	overflow: hidden;
	background-color: #ffffff;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}	
	#cuatro{
		width: 425px;
		padding-left: 20px;
	}
	#about{
		width: 420px;
		padding-right: 20px;
	}
	#im{
		padding-top: 15px;
		padding-right: 10px;
	}
	h3{
		font-family: sans-serif;
		font-size: medium;
	}

#pie{
	background-color: #191919;
	padding: 10px 30px;
	overflow: hidden;
}

	#logodos{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px; 
		width: 450px;
		font-size: small;
	}

	#menudos{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		width: 400px;
		font-size: small;

	}

	h5{
		padding-left: 20px;
		padding-top: 5px
	}

	.floim
	{
		float: left;
		padding-right: 10px;
	}

	.flotado{
		float: left;
	}
	.flotados{
		float: left;
		width: 260px;
		margin: 20px;
	}

